body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 1fr 1fr 100px;
    height: 100vh;
    width: 100vw;
}

header, main, footer {
    border: 1px solid black;
    padding: 10px;
}

header {
    background-image: linear-gradient(to right, #007592, #68e0ff);
    display: flex;
    grid-column: 1 / 4;
    justify-content: space-between;
}

main {
    align-items: center;
    border-style: none;
    grid-row: 2 / 4;
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
}

.form-wrapper {
    border: 2px solid;
    border-radius: 5px;
    max-width: 1000px;
    min-height: 300px;
}

.character {
    display: inline;
}

.word-char {
    display: inline;
}

form {
    margin-top: 40px;
}

.form-group {
    margin: 10px;
    padding: 10px;
}

#form-input-character {
    min-height: 25px;
    padding: 0;
    width: 100%;
}

.form-footer {
   display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 25px;
}

#btn-submit{
    background-color: #68e0ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s
}

#btn-submit:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

footer {
    background-color: #008fb3;
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex: 3 1 300px;
    margin-left: 16%;
    margin-right: 16%;
}

.alphabet-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.word-wrapper {
    text-align: center;
}

img {
    width: 1000px;
    height: 400px;
}

.alphabet-guessed-char {
    width: 50px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.alphabet-char{
    width: 50px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #68e0ff;
}

.alphabet-char:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
}

.lives-remaining{
    text-align: center;
}

